<div *ngIf="alertedit" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Success !</strong> Your data is successfully saved
  <button (click)="closeAlertEdit" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container col-md-12 cardbg">
<mat-card class="bg-light card">

  
    <mat-card-title class="pb-3 mb-4 border-bottom border-primary">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="fa fa-building text-primary"></i>&nbsp;&nbsp;
        <span class="fs-4 text-primary">Edit and Update Restaurant details here</span>
      </a>
    </mat-card-title>
    
    <form [formGroup]="editRestorant" (ngSubmit)="editresto()">
        <div class="mb-3">
          <label class="form-label text-primary">Name:</label>
          <input type="text" class="form-control"  formControlName="name" placeholder="Your name here">
          
        </div>
        <div class="mb-3">
            <label class="form-label text-primary">Adress:</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Adress here">
            
          </div>
          <div class="mb-3">
            <label class="form-label text-primary">Phone Number:</label>
            <input type="email" class="form-control" formControlName="phoneNumber" placeholder="Your Phone number here">
            
          </div>
          <div class="mb-3">
            <label class="form-label text-primary">Email Id:</label>
            <input type="text" class="form-control" formControlName="emailId" placeholder="Mail id here">
           
          </div>
          <div class="addbtn">
        <button type="submit text-light" class="btn btn-primary">Update</button></div>
      </form></mat-card></div>
    

