<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="user-select: auto;">
 

  <main class="px-3" style="user-select: auto;">
    <h1 style="user-select: auto;">Hi! Welcome to Searcharant.</h1><div class="bodyContent">
      <p class="lead" style="user-select: auto;">You can explore a wide variety of hotels and restaurants here</p></div>
    
    
  
  </main><div class="logo">
    <img src="./assets/images/restaurant.png"   height="270px" alt="restaurant image">
  </div></div>
  